

:root {
    --drkGrn: #183114;
    --mdGrn: #446129;
    --ltGrn: #92a65f;
    --light: #f3f4d3;
    --beige: #dcde9f;
}

* {
    padding: 2px;
    margin: auto;
    ;
}



header {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: var(--drkGrn)
    font-size: 30px;
}

/*nav*/


nav {  
    display: flex;
    background-color: var(--mdGrn);     
    padding-top: 60px; 
    width: 100%;
    border: solid var(--ltGrn) 10px;
   
}


nav li {
    flex-direction: row;
    align-items:stretch;
    line-height: 30px;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 30px;
    color: var(--beige);
    font-weight: bold;
    list-style-type: none;
    
}

li a {
    color: var(--beige);
    text-decoration: none;
}

/*nav*/



main {
    background-color: var(--beige);
    font-size: 20px;
}


.about-me {
    display: block;
}

.about-me p {
    text-align: center;
    box-sizing: border-box; 
    width: 80%;
}


.about-me img {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-block-size: 300px;
}



.my-projects {
    background-color: var(--mdGrn);
}

.my-projects h2 {
    background-color: var(--mdGrn);
}

.img-thumbnail {
    justify-content: space-evenly;
    margin: auto;
    max-block-size: 400px;
}

.resume {
    text-align: center;
    color: var(--drkGrn);
}
.icon i {
    color: #ad5178;
    font-size: 50px;
}


.contact-me {
    background-color: var(--drkGrn));
    text-align: center;
    border-top: var(--drkGrn) 5px solid;
    border-bottom: var(--drkGrn) 5px solid;

}

.contact-me li {
    list-style: none;
    display: inline;
    color: var(--drkGrn);
}

.contact-me li a {
    color: var(--drkGrn);
}
